

body{
    background:#f5f3f2;
    color:black;
    line-height:1.6;
}


nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
}

.header_logo{
    display:flex;
    align-items:center;
    gap:40px;
}

#styl{
    background:red;
    color:white;
    padding:8px 14px;
    border-radius:50%;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:#222;
    font-weight:500;
}

nav ul li a:hover{
    color:#d90429;
}


.content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
}

.content_left{
    width:50%;
}

.content_left h1{
    font-size:48px;
    font-weight:700;
    margin-bottom:20px;
}

.content_left p{
    margin-bottom:30px;
    color:#555;
}

.div_Lien a{
    text-decoration:none;
    padding:12px 25px;
    margin-right:15px;
    border-radius:6px;
    font-weight:600;
}

.div_Lien a:first-child{
    background:red;
    color:white;
}

.div_Lien a:last-child{
    border:1px solid red;
    color:red;
}


.content_right img{
    width:450px;
}



#S_categories{
    padding:80px;
    text-align:center;
}

.heading h1{
    font-size:40px;
    margin-bottom:60px;
}

#S_categories div{
    display:inline-block;
    width:300px;
    background:white;
    padding:30px;
    margin:15px;
    border:1px solid red;
    text-align:left;
}
#S_categories h1{
    justify-content: center;
}

#S_categories h3{
    margin-bottom:15px;
}

.Tri_Lien a{
    text-decoration:none;
    color:red;
    
    border: none;
    margin-right: 15%;
}


.xp .content{
    padding-top:40px;
}

ol{
    list-style: decimal;
}

ol li{
    margin-bottom:30px;
}

ol li h3{
    color:red;
    margin-bottom:10px;
}

.heading{
    justify-content: center;
}
.content{
    display: flex;
    gap: 60px; 
    margin-bottom: 3%;
}
.crew{
    display: flex;
    justify-content: center ;
}
.crew img{
    width: 40%;
   margin-left: 50%;
}
h5{
    margin-left:50% ;
    width: 50%;
}
.crew div{
    border: 1px solid lightgray;
    justify-content: center ;
    border-bottom: solid 1px red;
    padding: 5px;
}
.content img{
    width: 100%
}
#S_categories span{
    display: flex;
    justify-content: center ;
    gap: 60px; 
    margin-bottom: 3%;
}